# Primary maintainer
Ash Vardanian <1983160+ashvardanian@users.noreply.github.com> Ashot Vardanian <1983160+ashvardanian@users.noreply.github.com>

# Contributors with multiple emails
Alexey Milovidov <18581488+alexey-milovidov@users.noreply.github.com> Alexey Milovidov <milovidov@clickhouse.com>
Robert Schulze <100446237+rschu1ze@users.noreply.github.com> Robert Schulze <robert@clickhouse.com>
Michael Grinshpon <8979562+mgrinshpon@users.noreply.github.com> Michael Grinshpon <mgrinshpon@gmail.com>
Michael Grinshpon <8979562+mgrinshpon@users.noreply.github.com> Michael Grinshpon <michael@visionbyscope.com>
Laurens Priem <81471280+laurenspriem@users.noreply.github.com> Laurens Priem <laurens@ente.io>
Laurens Priem <81471280+laurenspriem@users.noreply.github.com> Laurens Priem <l+github@lrns.me>
Vsevolod Oparin <462138+vsevolod-oparin@users.noreply.github.com> Vsevolod Oparin <oparin.vsevolod@gmail.com>
Alexander Kjäll <647710+alexanderkjall@users.noreply.github.com> Alexander Kjäll <alexander.kjall@gmail.com>
Pedro Gabriel Planel <pplanel@users.noreply.github.com> Pedro Gabriel <pedro.planel@2gofintech.com.br>
Raufs Dunamalijevs <30183178+rienath@users.noreply.github.com> Raufs Dunamalijevs <raufs.dunamalijevs@clickhouse.com>
Eren K. <90657474+real-eren@users.noreply.github.com> real-eren <erenalpkahriman@gmail.com>
