[package]
name = "simsimd"
description = "Fastest SIMD-Accelerated Vector Similarity Functions for x86 and Arm"
version = "3.7.5"
edition = "2021"
license = "Apache-2.0"
authors = [
  "Ash Vardanian <1983160+ashvardanian@users.noreply.github.com>",
  "Pedro Planel <pplanel@gmail.com>",
]
repository = "https://github.com/ashvardanian/SimSIMD"

[lib]
name = "simsimd"
path = "rust/lib.rs"

[build-dependencies]
cc = "1.0.83"

[[bench]]
name = "cosine"
harness = false
path = "rust/benches/cosine.rs"

[[bench]]
name = "sqeuclidean"
harness = false
path = "rust/benches/sqeuclidean.rs"

[dev-dependencies]
criterion = { version = "0.5.1" }
rand = { version = "0.8.5" }
