name: Release

on:
  push:
    branches: ["main", "test-ga-**"]

env:
  BUILD_TYPE: Release
  GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
  PYTHONUTF8: 1

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  versioning:
    name: Semantic Release
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: npm install --ignore-scripts --save-dev --prefix ./package-ci @semantic-release/exec @semantic-release/git conventional-changelog-eslint semantic-release && npx --prefix ./package-ci semantic-release

  rebase:
    name: Rebase Dev. Branch
    if: github.ref == 'refs/heads/main'
    needs: versioning
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Perform rebase
        run: |
          git fetch origin main
          git checkout main-dev
          git rebase origin/main

      - name: Push changes
        uses: CasperWA/push-protected@v2
        with:
          token: ${{ secrets.SEMANTIC_REBASE_TOKEN }}
          branch: main-dev
          unprotect_reviews: True
          force: True

  build_wheels:
    name: Build Python ${{ matrix.python-version }} for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: versioning
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["36", "37", "38", "39", "310", "311", "312"]
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "main"
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Setup QEMU
        if: matrix.os == 'ubuntu-latest' # We only need QEMU for Linux builds
        uses: docker/setup-qemu-action@v3
      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel
      - name: Build wheels
        run: cibuildwheel --output-dir wheelhouse
        env:
          CIBW_BUILD: cp${{ matrix.python-version }}-*
      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          overwrite: true

  publish_python:
    name: Publish Python
    needs: build_wheels
    runs-on: ubuntu-22.04
    environment:
      name: pypi
      url: https://pypi.org/p/simsimd
    permissions:
      id-token: write

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - name: Publish to PyPi
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
          verbose: true
          print-hash: true

  build_javascript:
    name: Build JavaScript Native Modules
    needs: versioning
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x64
          - x86
        os:
          - macos-latest
          - ubuntu-22.04
          - windows-latest
        exclude:
          - arch: x86
            os: macos-latest
          - arch: x86
            os: ubuntu-22.04
    runs-on: ${{ matrix.os }}
    env:
      CC: gcc-12
      CXX: g++-12

    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v4
        with:
          ref: "main"
      - run: git submodule update --init --recursive

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          architecture: ${{ matrix.arch }}

      - name: Update compilers
        if: matrix.os == 'ubuntu-22.04'
        run: |
          sudo apt update
          sudo apt install -y cmake build-essential libjemalloc-dev libomp-dev gcc-12 g++-12
          sudo apt install gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu

      - run: npm ci --ignore-scripts
      - run: npm run prebuild-single
        if: matrix.os != 'macos-latest'
      - run: npm run prebuild-darwin-x64+arm64
        env:
          CC: clang
          CXX: clang++
        if: matrix.os == 'macos-latest'
      - run: file prebuilds/*/*
        if: matrix.os == 'macos-latest'
      - name: Extra for cross build
        if: matrix.os == 'ubuntu-22.04'
        run: npm run prebuild-arm64
      - uses: actions/upload-artifact@v3
        with:
          name: prebuilds
          path: prebuilds
          retention-days: 1

  publish_javascript:
    name: Publish JavaScript
    needs: build_javascript
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
        with:
          ref: "main"
      - run: git submodule update --init --recursive

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: actions/download-artifact@v3

      - name: Look for links
        run: find . -type f -links +1

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Build the JS from TS
        run: npm run build-js

      - name: Last minute test with prebuild artifact
        run: npm run test

      - name: Publish Dry Run
        run: npm publish --dry-run
        if: github.ref != 'refs/heads/main'

      - name: Publish
        uses: JS-DevTools/npm-publish@v3
        if: github.ref == 'refs/heads/main'
        with:
          token: ${{ secrets.NPM_TOKEN }}
          access: public

  publish_rust:
    name: Publish Rust
    needs: versioning
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "main"
      - run: git submodule update --init --recursive
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - uses: katyo/publish-crates@v2
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
